- @page_title = t(".word_repetition")
- if @current_repetition
  .flashcard-toggleable
    = link_to @current_text,
              repetitions_path(repetition_id: @current_repetition.id,
                               view: @reverse_view),
              class: "flashcard"
    = link_to @reverse_text,
              repetitions_path(repetition_id: @current_repetition.id,
                               view: @current_view),
              class: "hidden"
  .clearfix
  .responses
    = form_for @current_repetition, html: { class: "dont-remember js-dont-remember" } do |f|
      = f.hidden_field :id
      = hidden_field_tag :successful, false
      = submit_tag t(".dont_remember")
      .responses-hotkey
        Shift +
        = "\u2190"
    = form_for @current_repetition, html: { class: "remember js-remember" } do |f|
      = f.hidden_field :id
      = hidden_field_tag :successful, true
      = submit_tag t(".remember")
      .responses-hotkey
        Shift +
        = "\u2192"
    .clearfix
  .progress
    .progress-bar{ style: "width: #{current_user.repetitions.progress_today * 100}%" }
