<% if @current_repetition %>

<div class = "wrapper">

    <%= form_for(@current_repetition, :html => {:class => "form-actions form-left"}) do |f| %>
    
    <%= f.hidden_field :id %>
    <%= hidden_field_tag :successful, false %>
    <%= submit_tag "Не помню", :class => "btn btn-link" %>
    
    <% end %>
    
    <%= form_for(@current_repetition, :html => {:class => "form-actions pull-right"}) do |f| %>
    
    <%= f.hidden_field :id %>
    <%= hidden_field_tag :successful, true %>
    <%= submit_tag "Помню", :class => "btn btn-link pull-right" %>
    
    <% end %>
    
</div>    
    
    
<%= link_to @current_text, repetitions_path(:repetition_id => @current_repetition.id, :view => @reverse_view), :class => "hero-unit flashcard" %>
<%= link_to @reverse_text, repetitions_path(:repetition_id => @current_repetition.id, :view => @current_view), :class => "hero-unit flashcard-hidden" %>
    
<div class = "progress">
    <div class = "bar" style = "width: <%= current_user.repetitions.progress_today * 100 %>%"></div>
</div>
    
<% end %>
