- @page_title = t(".word_repetition")
.flashcard-toggleable
  = link_to @current_flashcard.front_text, '', class: "flashcard"
  = link_to @current_flashcard.back_text, '', class: "hidden"
.clearfix
.responses
  = form_for @current_repetition, html: { class: "dont-remember" } do |f|
    = f.hidden_field :id
    = f.hidden_field :successful, value: false
    = f.submit t(".dont_remember")
  = form_for @current_repetition, html: { class: "remember" } do |f|
    = f.hidden_field :id
    = f.hidden_field :successful, value: true
    = f.submit t(".remember")
  .clearfix
.progress
  .progress-bar{ style: "width: #{current_user.repetitions.progress_today * 100}%" }
