<% content_for :page_specific_javascripts do %>

<%= javascript_include_tag "page_specific/toggle_flashcard_side_script" %>

<% end %>


<!-- Эта форма - временная, чтобы выставлять произвольную дату, в которую ведётся повтор. Только повтор: запись - на сегодня. Когда все функции будут оттестированы, эта форма уберётся. -->

<!--<%= form_tag repetitions_path, :method => :get do %>
<%= select_date(session[:date].nil? ? Date.today : session[:date]) %>
<br />
<%= submit_tag "Сменить дату" %>
<% end %>-->


<% if !@repetitions.empty? %>

<div class = "wrapper">

    <%= form_for(@current_repetition, :html => {:class => "form-actions form-left"}) do |f| %>
    
    <%= f.hidden_field :id %>
    <%= hidden_field_tag :successful, false %>
    <%= submit_tag "Не помню", :class => "btn btn-link" %>
    
    <% end %>
    
    <%= form_for(@current_repetition, :html => {:class => "form-actions pull-right"}) do |f| %>
    
    <%= f.hidden_field :id %>
    <%= hidden_field_tag :successful, true %>
    <%= submit_tag "Помню", :class => "btn btn-link pull-right" %>
    
    <% end %>
    
</div>    
    
    
    <%= link_to html_escape(@current_text), repetitions_path(:repetition_id => @current_repetition.id, :view => @reverse_view), :class => "hero-unit flashcard" %>
    <%= link_to html_escape(@reverse_text), repetitions_path(:repetition_id => @current_repetition.id, :view => @current_view), :class => "hero-unit flashcard-hidden" %>
    
<% end %>
