- @page_title = t(".title")
= render "about_header"
%a#what_to_read
%h4.first-header!= t ".what_to_read.header"
- t(".what_to_read.paragraphs").each do |p|
  %p!= p

%a#dictionary
%h4!= t ".dictionary.header"
%p!= t ".dictionary.paragraph"

%a#every_day
%h4!= t ".every_day.header"
- t(".every_day.paragraphs").each do |p|
  %p!= p

%a#leitner
%h4!= t ".leitner.header"
%p!= t ".leitner.paragraph_with_links",
        link1: link_to(t(".leitner.link1_text"), t(".leitner.link1")),
        link2: link_to(t(".leitner.link2_text"), t(".leitner.link2"))
- t(".leitner.paragraphs").each do |p|
  %p!= p

%a#how_many
%h4!= t ".how_many.header"
- t(".how_many.paragraphs").each do |p|
  %p!= p
%p!= t ".how_many.paragraph_with_link",
        link: link_to(t(".how_many.link_text"), settings_path)

%a#self_control
%h4!= t ".self_control.header"
- t(".self_control.paragraphs").each do |p|
  %p!= p

%a#convenient
%h4!= t ".convenient.header"
- t(".convenient.paragraphs").each do |p|
  %p!= p

%a#what_else
%h4!= t ".what_else.header"
- t(".what_else.paragraphs").each do |p|
  %p!= p

%h4!= t ".work_in_progress"
