- @page_title = t(".title")
= render "about_header"
%ol
  %li!= t ".li_read", li_read_link: link_to(t(".li_read_link_text"),
                                            about_path(anchor: "what_to_read"))
  %li!= t ".li_dictionary", li_dictionary_link1: link_to(t(".li_dictionary_link1_text"),
                                                          about_path(anchor: "dictionary")),
                            li_dictionary_link2: link_to(t(".li_dictionary_link2_text"),
                                                          about_path(anchor: "every_day"))
  %li!= t ".li_repeat", li_repeat_link: link_to(t(".li_repeat_link_text"),
                                                about_path(anchor: "every_day"))
  %li!= t ".li_answer", li_answer_link: link_to(t(".li_answer_link_text").html_safe,
                                                about_path(anchor: "self_control"))
  %li!= t ".li_look_up"
  %li!= t ".li_intervals", li_intervals_link: link_to(t(".li_intervals_link_text"),
                                                      about_path(anchor: "leitner"))
  %li!= t ".li_three", li_three_link: link_to(t(".li_three_link_text").html_safe,
                                              about_path(anchor: "leitner"))
  %li!= t ".li_context"
  %li!= t ".li_day", li_day_link: link_to(t(".li_day_link_text").html_safe,
                                          about_path(anchor: "leitner"))
  %li!= t ".li_vocab", li_vocab_link: link_to(t(".li_vocab_link_text").html_safe,
                                              about_path(anchor: "how_many"))
%h4!= t ".free"
