- unless @deleted_flashcards.empty?
  .deleted-today-oneline.js-deleted-today-oneline
    = link_to "#", class: (@just_deleted && "just-deleted js-just-deleted") do
      = t("flashcards.index.show_just_deleted")
      (#{@deleted_flashcards.count}) —
      = t("flashcards.index.to_be_wiped_out_tomorrow")
  .js-deleted-today-full
    %p #{ t "flashcards.index.just_deleted" }:
    = form_tag undelete_flashcards_path, method: :patch do
      - @deleted_flashcards.each do |flashcard|
        = label_tag flashcard.id, class: "checkbox" do
          = check_box_tag "flashcards[]", flashcard.id, false, class: "js-checkbox-undelete"
          = first_line(flashcard.front_text)
      = submit_tag t("flashcards.index.undelete"), class: "btn-undelete js-btn-undelete"
