<% unless @deleted_flashcards.empty? %>
	<div class = "deleted-today-oneline">
		<a class = "<%= "just-deleted" if @just_deleted %>" href = "#">Показать удалённые карточки (<%= @deleted_flashcards.count %>) &mdash; завтра будут совсем удалены</a>
	</div>
	<div class = "deleted-today-full">
		<p>Удалённые сегодня:</p>
		<%= form_tag undelete_flashcards_path do %>
			<% @deleted_flashcards.each do |flashcard| %>
				<%= label_tag flashcard.id, class: "checkbox" do %>
					<%= check_box_tag "flashcards[]", flashcard.id, false, class: "checkbox-undelete" %>
					<%= first_line(flashcard.front_text) %>
				<% end %>
			<% end %>
			<%= submit_tag "Восстановить", class: "btn btn-primary btn-undelete" %>
		<% end %>
	</div>
<% end %>