<div class = "row">
    <div class = "span12">
        <%= f.label :front_text, "Слово:" %>
        <%= f.text_area :front_text, :class => "input-block-level", :rows => 6, :id => "frontTextInput" %>
    </div>
    <div class = "span12">
        <%= f.label :back_text, "Значение:" %>
        <%= f.text_area :back_text, :class => "input-block-level", :rows => 6, :id => "backTextInput" %>
    </div>
</div>

<%= submit_tag "Сохранить", :class => "btn btn-block" %>