= form_for @flashcard do |f|
  .form-group
    = f.label :front_text, "#{ t 'activerecord.attributes.flashcard.front_text'}:"
    = f.text_area :front_text,
                  class: "form-control",
                  rows: 6,
                  id: "js_front_text_input",
                  required: true
  .form-group
    = f.label :back_text, "#{ t 'activerecord.attributes.flashcard.back_text'}:"
    = f.text_area :back_text,
                  class: "form-control",
                  rows: 6,
                  required: true
  - if request.fullpath == new_flashcard_path
    = submit_tag t(".create"), class: "btn btn-default btn-block"
  - else
    = submit_tag t(".update"), class: "btn btn-default col-md-10"
    
- unless request.fullpath == new_flashcard_path
  .destroy-link-div.col-md-2.pull-right
    = button_to t(".delete"),
                @flashcard,
                method: :delete,
                class: "btn btn-default btn-link destroy"
