- @page_title = t("nav.all_flashcards")
= render "deleted_today"
= form_tag flashcards_path, method: :get, class: "flashcard-search-form" do
  .input-group
    = search_field_tag :search, nil, class: "form-control"
    %span.input-group-btn
      %button.btn.btn-primary= t(".search")
  - if @search_string
    %span.help-block
      != t ".filtered",
          search_string: h(@search_string),
          show_all: link_to(t(".show_all"), flashcards_path)
= paginate @flashcards
- @flashcards_grouped_by_date.keys.sort.reverse.each do |date|
  %p.flashcard-date #{date}:
  - @flashcards_grouped_by_date[date].each do |flashcard|
    %a{ id: flashcard.id }
    = link_to edit_flashcard_path(flashcard),
              class: ["flashcard",
                      flashcard.learned? && "learned"] do
      .flashcard-side<>= flashcard.front_text
      .flashcard-side<>= flashcard.back_text
= paginate @flashcards
