- @page_title = t("nav.all_flashcards")
= render "deleted_today"
= form_tag flashcards_path, method: :get, class: "form-search pull-right" do
  .input-append
    = text_field_tag :search, nil, class: "span2 search-query"
    %button.btn= t(".search")
= paginate @flashcards
- @flashcards_grouped_by_date.keys.sort.reverse.each do |date|
  %p.lead #{date}:
  - @flashcards_grouped_by_date[date].each do |flashcard|
    %a{ id: flashcard.id }
    = link_to edit_flashcard_path(flashcard),
              class: ["flashcard",
                      flashcard.learned? && "learned"] do
      %span<>= flashcard.front_text
      %hr
      %span<>= flashcard.back_text
= paginate @flashcards
