- @page_title = "Настройки"
%h2= @page_title
= form_for @user do |f|
  %h4 Дневной лимит на создание карточек
  %p Его необязательно соблюдать, но это #{link_to "очень подстёгивает", about_path(anchor: "everyDay")}.
  = f.number_field :daily_limit

  %h4 Имя
  = f.text_field :name

  %h4 Язык интерфейса
  = f.select :interface_language_cd,
             [['Русский', User.russian], ['Английский', User.english]]
  %span.help-block

  = f.submit "Сохранить", class: "btn btn-primary btn-save-settings"