- @page_title = t(".title")
%h2= @page_title
= form_for @user do |f|
  %h4= t(".daily_limit")
  %p!= t ".daily_limit_hint",
          motivating: link_to(t(".motivating"),
                              about_path(anchor: "every_day"))
  = f.number_field :daily_limit

  %h4= t(".name")
  = f.text_field :name

  %h4= t(".interface_language")
  = f.select :interface_language, User.interface_languages_for_select
  %span.help-block

  = f.submit t(".update"), class: "btn btn-primary btn-save-settings"
