- @page_title = t(".title")
%h2= @page_title
= form_for @user do |f|
  %h4= t(".daily_limit")
  %p!= t ".daily_limit_hint",
          motivating: link_to(t(".motivating"),
                              about_path(anchor: "every_day"))
  .form-group
    = f.number_field :daily_limit, class: "form-control"

  %h4= t(".name")
  .form-group
    = f.text_field :name, class: "form-control"

  %h4= t(".interface_language")
  .form-group
    = f.select :interface_language, User.interface_languages_for_select, {}, { class: "form-control" }
  %span.help-block

  = f.submit t(".update"), class: "btn-save-settings"
