<% @page_title = "Статистика" %>

<h2><%= @page_title %></h2>

<div class = "row">

	<div class = "span4">
		<h3>Общая</h3>
		<table class = "table">
			<tr>
				<td>Всего карточек:</td>
				<td><%= render partial: "stats_element", locals: { value: @total_stats[:total_flashcards] } %></td>
			</tr>
			<tr>
				<td>Из них выучено:</td>
				<td><%= render partial: "stats_element", locals: { value: @total_stats[:learned_flashcards] } %></td>
			</tr>
			<tr>
				<td>Всего запланировано повторов:</td>
				<td><%= render partial: "stats_element", locals: { value: @total_stats[:total_planned_repetitions] } %></td>
			</tr>
			<tr>
				<td>Ближайшие повторы:</td>
				<td><%= render partial: "stats_element", locals: { value: "#{@total_stats[:planned_repetitions_for_nearest_date]} (#{@total_stats[:nearest_date]})" } %></td>
			</tr>
			<tr>
				<td>Запланировано повторов до:</td>
				<td><%= render partial: "stats_element", locals: { value: @total_stats[:last_date_with_planned_repetitions] } %></td>
			</tr>
		</table>
	</div>

	<div class = "span4">
		<h3>Сегодня</h3>
		<table class = "table">
			<tr>
				<td>Создано:</td>
				<td><%= render partial: "stats_element", locals: { value: @stats_for_today[:created] } %></td>
			</tr>
			<tr>
				<td>Выучено:</td>
				<td><%= render partial: "stats_element", locals: { value: @stats_for_today[:learned] } %></td>
			</tr>
		</table>
	</div>

	<div class = "span4">
		<h3>За месяц</h3>
		<table class = "table">
			<tr>
				<td>Создано:</td>
				<td><%= render partial: "stats_element", locals: { value: @stats_for_last_month[:created] } %></td>
			</tr>
			<tr>
				<td>Выучено:</td>
				<td><%= render partial: "stats_element", locals: { value: @stats_for_last_month[:learned] } %></td>
			</tr>
		</table>
	</div>

</div>