<% @page_title = "Статистика" %>

<h2><%= @page_title %></h2>

<div class = "row">

	<div class = "span4">
		<h3>Общая</h3>
		<p>Всего карточек: <%= render partial: "stats_element", locals: { value: @total_stats[:total_flashcards] } %></p>
		<p>Из них выучено: <%= render partial: "stats_element", locals: { value: @total_stats[:learned_flashcards] } %></p>
		<p>Всего запланировано повторов: <%= render partial: "stats_element", locals: { value: @total_stats[:total_planned_repetitions] } %></p>
		<p>Ближайшие повторы: <%= render partial: "stats_element", locals: { value: "#{@total_stats[:planned_repetitions_for_nearest_date]} (#{@total_stats[:nearest_date]})" } %></p>
		<p>Запланировано повторов до: <%= render partial: "stats_element", locals: { value: @total_stats[:last_date_with_planned_repetitions] } %></p>
	</div>

	<div class = "span4">
		<h3>Сегодня</h3>
		<p>Создано: <%= render partial: "stats_element", locals: { value: @stats_for_today[:created] } %></p>
		<p>Выучено: <%= render partial: "stats_element", locals: { value: @stats_for_today[:learned] } %></p>
	</div>

	<div class = "span4">
		<h3>За месяц</h3>
		<p>Создано: <%= render partial: "stats_element", locals: { value: @stats_for_last_month[:created] } %></p>
		<p>Выучено: <%= render partial: "stats_element", locals: { value: @stats_for_last_month[:learned] } %></p>
	</div>	

</div>