%ul.logged-in-secondary-menu.user-menu-no-dropdown
  = render "layouts/menu/items/flashcards"
  = render "layouts/menu/items/about"
  = render "layouts/menu/items/stats"
  = render "layouts/menu/items/settings"
  = render "layouts/menu/items/logout"
