= render "layouts/menu/navbar_toggle", target: ".navbar-collapse"
%ul.logged-in-primary-menu#js-element-before-dropdown
  %li.menu-item{ class: [active_class(new_flashcard_path), create_class] }
    = link_to new_flashcard_path do
      %span= t("nav.create")
      %span
        %small
          %span= current_user.flashcards.created_on(current_date).size
          %span= t("nav.of")
          %span= current_user.daily_limit
  %li.menu-item{ class: [active_class(repetitions_path), repeat_class] }
    = link_to repetitions_path do
      %span= t("nav.repeat")
      %span
        %small
          %span= current_user.repetitions.run.on(current_date).size
          %span= t("nav.of")
          %snap= current_user.repetitions.for(current_date).size

-# Этот ul Яваскриптом обрамляется в div, чтобы в случае, если Яваскрипт не работает, меню работало, хоть и выглядело бы некрасиво.

%ul.logged-in-secondary-menu#js-dropdown-menu
  %li.menu-item{ class: active_class(flashcards_path) }
    = link_to t("nav.all_flashcards"), flashcards_path
  = render "layouts/menu/about"
  -# Дропдаун подсвечивается как активный, когда выбран один из пунктов меню, входящих в него.
  %li.menu-item.dropdown.no-js-hide#user-dropdown-menu
    = render "layouts/menu/dropdown_toggle", label: username(current_user)
    %ul.dropdown-menu
      = render "layouts/menu/dropdown"
  %li#user-menu-no-dropdown
    %ul.nav
      =render "layouts/menu/dropdown"
