.homepage-header
  .homepage-main
    %h2= t(".header")
    %p= t(".subheader")
  .homepage-login-form
    %a#login
    = render "login_form"
.homepage-info
  .homepage-info-column
    %h4!= t(".who.header")
    %p!= t(".who.if_you")
    %ul
      - t(".who.if_options").each do |option|
        %li!= option
    %p!= t(".who.then_learn")
  .homepage-info-column
    %h4!= t(".what.header")
    - t(".what.paragraphs").each do |paragraph|
      %p!= paragraph
  .homepage-info-column
    %h4!= t(".why.header")
    %p!= t(".why.same_with_paper")
    %ul
      - t(".why.advantages").each do |advantage|
        %li!= advantage
%h4!= t ".learn_more_or_sign_up",
        learn_more: link_to(t(".learn_more"), about_path),
        sign_up: link_to(t(".sign_up"), signup_path)
