= content_tag :li, class: active_class(stats_path) do
  = link_to "Статистика",  stats_path
%li.divider
= content_tag :li, class: active_class(settings_path) do
  = link_to "Настройки", settings_path
%li.divider
%li
  = link_to "Выйти", logout_path