!!! 5
%html
  %head
    %title= full_title(@page_title)
    %meta{ name: "Viewport", content: "width=device-width, initial-scale=1.0" }
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      = render "layouts/menu/menu"
      = render "layouts/alerts"
      = yield
      .push
    %footer
      .container
        %p.copyright
          2013, 
          = link_to t("nav.author"),
                    t("nav.author_link")
        %p.email= mail_to "pomerantsevp@gmail.com"
    - if Rails.env.development? or Rails.env.test?
      = debug(params)
