<!DOCTYPE html>
<html class = "no-js">
<head>
  <title><%= "#{@page_title} &mdash; ".html_safe if @page_title %>Вордхаб</title>
  <meta name="Viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!--<link href = "/stylesheets/invisible_menu.css" rel = "stylesheet" media = "all">-->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class = "container">
        <%= render :partial => 'layouts/menu' %>
        <%= render :partial => 'layouts/alerts' %>

        <%= yield %>
        
        <div class = "push"></div>
    </div>
    <footer class = "footer">
        <div class = "container">
            <div class = "row">
                <div class = "span12">
                    <p class = "copyright">2013, <%= link_to "Павел Померанцев", "http://pomerantsev.moikrug.ru/" %></p>
                    <p class = "email"><%= mail_to "pomerantsevp@gmail.com" %></p>
                </div>
            </div>
        </div>
    </footer>
    <% if Rails.env.development? %>
      <%= debug(params) %>
      <%= planned_repetitions_count_by_date %>
    <% end %>
</body>
</html>
