<!DOCTYPE html>
<html>
<head>
  <title><%= "#{@page_title} &mdash; " if @page_title %>Вордхаб</title>
  <meta name="Viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class = "container">
        <%= render :partial => 'layouts/menu' %>
        <%= render :partial => 'layouts/alerts' %>

        <%= yield %>
        
        <div class = "push"></div>
    </div>
    <footer class = "footer">
        <div class = "container">
            <div class = "row">
                <div class = "span12">
                    <p class = "copyright">2013, <%= link_to "Павел Померанцев", "http://pomerantsev.moikrug.ru/" %></p>
                    <p class = "email"><%= mail_to "pomerantsevp@gmail.com" %></p>
                </div>
            </div>
        </div>
    </footer>
    <%= debug(params) if Rails.env.development? %>
    <%= planned_repetitions_count_by_date if Rails.env.development? %>
</body>
</html>
